<section class="mentors">
  <div class="mentors-container">
    <h2 class="mentors-title">
      Our <span class="mentors-title-part">Mentors</span>
    </h2>
    <ul class="mentors-list">
      <li class="mentors-item">
        <img src="#" alt="Emilia Smith" class="mentors-img" />
        <h3 class="mentors-name">Emilia Smith</h3>
        <p class="mentors-description">1.5 years of experience</p>
      </li>
      <li class="mentors-item">
        <img src="#" alt="Alex Lebedev" class="mentors-img" />
        <h3 class="mentors-name">Alex Lebedev</h3>
        <p class="mentors-description">3.5 years of experience</p>
      </li>
      <li class="mentors-item">
        <img src="#" alt="Mia Dubrovska" class="mentors-img" />
        <h3 class="mentors-name">Mia Dubrovska</h3>
        <p class="mentors-description">2.0 years of experience</p>
      </li>
      <li class="mentors-item">
        <img src="#" alt="Eliot Kovalev" class="mentors-img" />
        <h3 class="mentors-name">Eliot Kovalev</h3>
        <p class="mentors-description">4.0 years of experience</p>
      </li>
    </ul>
  </div>
</section>
