<section class="mobile-menu">
  <!-- Mobile menu -->
  <div class="menu-container js-menu-container" id="mobile-menu">
    <button class="menu-toggle js-close-menu">
      <svg class="menu-toggle-icon" width="8" height="8">
        <use href="./images/icons.svg#icon-close"></use>
      </svg>
    </button>

    <ul class="mobile-menu">
      <li class="mobile-menu-item">
        <a class="mobile-menu-link current" href="">About us</a>
      </li>
      <li class="mobile-menu-item">
        <a class="mobile-menu-link" href="">Our courses</a>
      </li>
      <li class="mobile-menu-item">
        <a class="mobile-menu-link" href="">Our mentors</a>
      </li>
      <li class="mobile-menu-item">
        <a class="mobile-menu-link" href="">Reviews</a>
      </li>
      <li class="mobile-menu-item">
        <a class="mobile-menu-link" href="">contacts</a>
      </li>
    </ul>
  </div>

  </section>