<section class="signup section" id="signup">
    <div class="container">
        <div class="wrapper-sign">
            <div class="sign-container-picture">
                <img class="sign-pic" srcset="
            ./images/signup/blockimg-1.png 1x,
            ./images/signup/blockimg-1@2x.png 2x" src="../images/signup/blockimg-1.png" alt="camera" width="560"
                    height="540" />
            </div>
            <div class="sign-wrap">
                <h2 class="section-title">Sign <span class="accent-title">Up</span></h2>
                <p class="title-text">Please use the form below to contact us. Enter your name, email, and message and
                    we'll get back to you shortly.</p>
            </div>
            <div class="review-form-wrapper">
                <form name="review_form" autocomplete="on">
                    <div class="modal-field">
                        <input class="text-input" type="text" name="user-name" id="user-name"
                            placeholder="Enter your name" />
                        <!-- <svg class="modal-input-icon" width="18" height="24">
                <use href="./images/icons.svg#icon-person"></use>
                </svg> -->
                    </div>
                    <div class="field">
                        <input class="text-input" type="text" name="user-email" id="user-email"
                            placeholder="Enter your email" />
                        <!-- <svg class="modal-input-icon" width="18" height="24">
                <use href="./images/icons.svg#icon-person"></use>
                </svg> -->
                    </div>
                </form>
                    <textarea class="message-input" name="user-message" id="user-message" rows="5" placeholder="Message"
                        minlength="3" maxlength="1000"></textarea>

                    <button class="submit-button" type="submit">SEND</button>

                    <p class="text-description">
                        By clicking on “Send” button, you agree to our
                        <a class="text-description-accent" href="#" target="_blank" rel="noopener noreferrer">
                            Privacy Policy,</a>
                        and allow Promodo to use this information for marketing purposes.
                    </p>
            </div>
        </div>
    </div>
</section>



