.courses-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 40px;
  width: 100%;
}
/*@media only screen and (min-width: 768px) {
  .courses-block {
    flex-direction: row;
    gap: 58px;
  }
}*/
.courses-title {
  color: var(--white-color);
  text-align: left;
}
.courses-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  flex-shrink: 0;
  background-color: var(--dark-grey-color);
  position: absolute;
  top: 32px;
  right: 32px;
}
.courses-text {
  color: var(--white-color);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.29;
  letter-spacing: -0.02em;
}
.courses-list {
  display: flex;
  gap: 20px;

  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.courses-item {
  position: relative;
  width: 335px;
  padding: 28px;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: linear-gradient(180deg, #060707 0%, #1d1d1d 100%);
}
.courses-numer {
  top: 28px;
  right: 28px;
}
.courses-wrapper {
  display: flex;
}

.button {
  border-radius: 50%;
  width: 32px;
  height: 32px;
  flex-shrink: 0;
  background-color: var(--dark-grey-color);
}
.courses-link:hover,
.courses-link:focus {
  background-color: var(--brown-color);
  color: var(--white-color);
}

.courses-icon {
  width: 20px;
  height: 20px;
  fill: #777777;
}
.courses-icon:hover,
.courses-icon:hover {
  fill: #fff;
  background-color: var(--brown-color);
}

.courses-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 164px;
  margin: 88px 0 0 0;
}
.courses-subtitl {
  color: var(--white-color);

  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.14;
}
.courses-text-accent {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.5);
}
