/**
  |============================
  | MOBILE-STYLE
  |============================
*/

.footer {
  background-image: url('../images/background/bckg-mobile-footer.png');
  background-position: top;
  background-size: initial;
  background-repeat: repeat-x;
  border-top: 1px solid rgba(255, 255, 255, 0.2);

}

@media only screen and (min-resolution: 192dpi) {
  .footer {
    background-image: url('../images/background/bckg-mobile-footer@2x.png');
    background-size: auto 535px;
  }
}

.footer-container {
  padding-top: 40px;
  padding-bottom: 20px;
}

.footer-address {
  display: flex;
  height: 46px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 40px;
}
.footer-address-link {
  font-family: 'DM Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.3;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-address-link:hover,
.footer-address-link:focus {
  color: #bea69e;
}

.footer-address-text {
  font-family: 'DM Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.3;
}
.footer-logo {
  fill: #ffffff;
  margin-bottom: 20px;
}
.footer-center {
  display: flex;
  align-items: flex-start;
  column-gap: 40px;
  margin-bottom: 75px;
}
.footer-social-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 14px;
}
.footer-social-item {
}
.footer-social-link {
  font-family: 'DM Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-link:hover,
.footer-social-link:focus {
  color: #bea69e;
}
.footer-menu {
}
.footer-menu-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 14px;
}

.footer-menu-link {
  font-family: 'DM Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-menu-link:hover,
.footer-menu-link:focus {
  color: #bea69e;
}
.container-form {
  display: flex;
  justify-content: center;
}

.footer-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 8px;
  margin-bottom: 40px;
}
.footer-form-label {
  flex-grow: 1;
}
@media only screen and (min-width: 768px) {
  .footer-form-label  {
    max-width: 170px;
  }
}
.footer-form-input {
  border: none;
  border-radius: 12px;
  width: 100%;
  height: 60px;
  padding: 20px 0 20px 18px;
  background-color: #fff;
  color: #121212;
  font-family: 'DM Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
}


.footer-form-btn {
  border: none;
  min-width: 60px;
  height: 60px;
  border-radius: 12px;
  background-color: #1d1d1d;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 0.1;
  font-size: 20px;
  font-weight: 400;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-form-btn:hover,
.footer-form-btn:focus {
  color: #bea69e;
}

.footer-info {
  display: flex;
  justify-content: space-between;
}
.footer-info-list {
  display: flex;
  flex-direction: column;
}

.footer-info-link {
  display: flex;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.33;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-info-link:hover,
.footer-info-link:focus{
  color: #bea69e;
}
.footer-info-text {
  display: flex;
  width: 116px;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.33;
}

/**
  |============================
  |TABLET-STYLE @ media screen and (min-width:768px){}
  |============================
*/
@media only screen and (min-width: 768px) {
  .footer {
    background-image: url('../images/background/bckg-tablet-footer.png');
  }

  @media only screen and (min-resolution: 192dpi) {
    .footer {
      background-image: url('../images/background/bckg-tablet-footer@2x.png');
      background-size: auto 331px;
    }
  }

  .footer-container {
    /* max-width: 768px;/ */
    padding: 50px 32px 25px 32px;
  }
  .container-tablet {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
  .container-logo-address {
    
  }
  .footer-logo {
    margin-bottom: 25px;
  }
  .footer-address {
    display: flex;
    height: 46px;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 0;
    row-gap: 10px;
  }
  .footer-center {
    display: flex;
    align-items: flex-start;
    column-gap: 25px;
    margin-bottom: 75px;
  }
  .footer-form {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    column-gap: 8px;
    margin-bottom: 0;
  }
  .footer-form-input {
    border-radius: 12px;
    width: 100%;
    height: 60px;
    padding: 20px 0 20px 18px;
    background-color: #fff;
    color: #121212;
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.25;
  }
}

/**
  |============================
  | DESKTOP-STYLE @ media screen and (min-width:1280px){}
  |============================
*/

@media only screen and (min-width: 1280px) {
  .footer {
    background-image: url('../images/background/bckg-dt-1280-footer.png');
  }

  @media only screen and (min-resolution: 192dpi) {
    .footer {
      background-image: url('../images/background/bckg-dt-1280-footer@2x.png');
    }
  }
  .footer-container {
    max-width: 1280px;
    padding: 50px 100px 25px 100px;
  }

  .footer-center {
    display: flex;
    align-items: flex-start;
    column-gap: 50px;
    margin-bottom: 50px;
  }
  .footer-social-list {
    row-gap: 20px;
  }
  .footer-menu-list {
    row-gap: 20px;
  }
  .footer-form {
    column-gap: 16px;
  }
  .footer-form-label{
    width: 216px;
  }

}


/**
  |============================
  | DESKTOP-STYLE @ media screen and (min-width:1440px){}
  |============================
*/

@media only screen and (min-width: 1440px) {
  .footer {
    background-image: url('../images/background/bckg-dt-1280-footer.png');
  }

  @media only screen and (min-resolution: 192dpi) {
    .footer {
      background-image: url('../images/background/bckg-dt-1440-footer@2x.png');
    }
  }
  .footer-container {
    max-width: 1440px;
  }

  .footer-center {
    display: flex;
    align-items: flex-start;
    column-gap: 100px;
    margin-bottom: 50px;
  }
  
}
