/**
  |============================
  | MOBILE-STYLE
  |============================
*/



.footer {
  background-image: url("../images/background/bckg-mobile-footer.png");
  background-position: top;
  background-size: initial;
  background-repeat: repeat-x;
}

@media only screen and (min-resolution: 192dpi) {
  .footer {
    background-image: url("../images/background/bckg-mobile-footer@2x.png");
    background-size: auto 535px;
  }
}

.footer-container {
  padding-top: 40px;
  padding-bottom: 20px;
}
.container {
}
.footer-top {

}
.footer-address {

 display: flex;
height: 46px;
flex-direction: column;
justify-content: space-between;
align-items: flex-start;
margin-bottom: 40px;
}
.footer-logo {
  fill: #FFFFFF;
  margin-bottom: 20px;

}
.footer-center{
display: inline-flex;
align-items: flex-start;
column-gap: 40px;
margin-bottom: 75px;
}
.footer-social {
}
.footer-social-list {
display: flex;
flex-direction: column;
align-items: flex-start;
row-gap: 14px;
}
.footer-social-item {
}
.footer-social-link {
}
.footer-menu {

}
.footer-menu-list {
display: flex;
flex-direction: column;
align-items: flex-start;
row-gap: 14px;
}
.footer-menu-item {
}
.footer-menu-link {
}
.footer-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.footer-form-input {
}
.footer-form-btn {
}
.footer-info {
  display: flex;
  justify-content: space-between;
}
.footer-info-list {
  display: flex;
  flex-direction: column;
}
.footer-info-item {
}
.footer-info-link {
  display: flex;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.33;

}
.footer-info-text {
  display: flex;
  width: 116px;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.33;
}


/**
  |============================
  |TABLET-STYLE @ media screen and (min-width:768px){}
  |============================
*/
@media only screen and (min-width: 768px) {
  .footer {
    background-image: url("../images/background/bckg-tablet-footer.png");
  }

  @media only screen and (min-resolution: 192dpi) {
    .footer {
      background-image: url("../images/background/bckg-tablet-footer@2x.png");
      background-size: auto 331px;
    }
  }
}

/**
  |============================
  | DESKTOP-STYLE @ media screen and (min-width:1280px){}
  |============================
*/
@media only screen and (min-width: 1280px) {
  .footer {
    background-image: url("../images/background/bckg-dt-1280-footer.png");
  }

  @media only screen and (min-resolution: 192dpi) {
    .footer {
      background-image: url("../images/background/bckg-dt-1280-footer@2x.png");
    }
  }
}
/**
  |============================
  | DESKTOP-MAX-STYLE @ media screen and (min-width:1440px){}
  |============================
*/
@media only screen and (min-width: 1440px) {
  .footer {
    background-image: url("../images/background/bckg-dt-1440-footer.png");
  }

  @media only screen and (min-resolution: 192dpi) {
    .footer {
      background-image: url("../images/background/bckg-dt-1440-footer@2x.png");
    }
  }
}